.main-hero {
  background-image: url(../images/back2.png);
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100vh;
}
.sub-hero {
  width: 95%;
  /* background-color: black; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
button {
  background-color: teal;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border: none;
  outline: none;
  height: 40px;
  width: 100px;
  border-radius: 5px;
}
.hh {
  color: teal;
  font-size: 23px;
  font-weight: 600;
}
.thick {
  font-weight: 650;
}
.size {
  font-size: 55px;
  font-weight: 700;
  /* width: 450px; */
}
.side0 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 150px;
  width: 50px;
  margin-left: 10px;
}
.side2 img {
  width: 450px;
  height: 600px;
}
