.headerr-main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/back2.png);
  background-color: aliceblue;
  background-size: 1635px;
  background-repeat: no-repeat;
  width: auto;
  height: 50px;
}
.sub-mainn {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.part2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
}
h3 {
  color: white;
  font-weight: 400;
  font-size: 16px;
}
h2 {
  color: teal;
}
.hhh {
  color: black;
}
